<ul class="unstyled entries">
    {% for entry in entry_list %}
        <li class="unstyled">
            <blockquote>
                <header>
                    <div class="author">
                        {% if user.is_admin %}<a href="#user/{{ entry.author.id }}">{% endif %}
                            {{ entry.author.name }}
                        {% if user.is_admin %}</a>{% endif %}
                    </div>
                    <div class="title"><strong>{{ entry.name }}</strong></div>
                    <div class="time muted"><em>{{ entry.created }}</em></div>
                </header>

                <section>
                    {{ entry.text }}
                </section>

                {% if user.is_admin %}
                    <footer>
                        <ul>

                            {% if entry.is_active == 0 %}
                                <li>
                                    <a href="#msg/{{ entry.id }}/ok">approve</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="#msg/{{ entry.id }}/off">hide</a>
                                </li>
                            {% endif %}
                            {# <li>
                                <a href="#msg/{{ entry.id }}">edit</a>
                            </li> #}

                        </ul>
                    </footer>
                {% endif %}

            </blockquote>
        </li>
    {% endfor %}
</ul>
