<form method="POST" action="./?action=user_login" class="form-horizontal">

    <div class="control-group">
        <label class="control-label">Username:</label>
        <div class="controls">
            <input type="text" name="user_name" value="{{ user_name }}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Password:</label>
        <div class="controls">
            <input type="password" name="pass">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>

</form>
