<form method="POST">
    <ul>
        <li>
            <span class="label">Username:</span>
            <span class="input">
                <input name="user_name" value="{{ user_name.value }}">
            </span>
        </li>
        <li>
            <span class="label">Password:</span>
            <span class="input">
                <input type="password" name="pass">
            </span>
        </li>
        <li>
            <span class="label">Confirm password:</span>
            <span class="input">
                <input type="password" name="pass_confirm">
            </span>
        </li>
        <li>
            <input type="submit" value="Create">
        </li>
    </ul>
</form>